<div class="row">
<div class="col-xs-12">
  <form>
    <div class="row">
      <div class="col-sm-3 form-group">
        <label for="Name">Name</label>
        <input type="text" id="Name" class="from-control" #nameInput />
      </div>
      <div class="col-sm-3 form-group">
        <label for="Amount">Amount</label>
        <input type="number" id="Amount" class="from-control" #amountInput />
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <button typ="submit" class="btn btn-success" (click)="onAddItem()">
          Add
        </button>
        <button typ="button" class="btn btn-danger">Delete</button>
        <button typ="button" class="btn btn-primary">Clear</button>
      </div>
    </div>
  </form>
</div>
</div>
